<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Simple Table</h4>
                                <p class="card-category">Here is a subtitle for this table</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <!-- Botón "Agregar" -->
                                <button class="btn btn-primary" routerLink="/tags-crear">Agregar</button>

                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div *ngIf="loading; else content">
                            <p>Cargando...</p>
                        </div>
                        <ng-template #content>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Acciones</th> <!-- Nueva columna para botones de acción -->
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tag of tags">
                                            <td>{{ tag.id }}</td>
                                            <td>{{ tag.nombreTag }}</td>
                                            <td>
                                                <!-- Botón de editar -->
                                                <button class="btn btn-info" (click)="editarTag(tag.id)">Editar</button>
                                                <!-- Botón de eliminar -->
                                                <button class="btn btn-danger" (click)="eliminarTag(tag.id)">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </ng-template>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
