<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Simple Table</h4>
                                <p class="card-category">Here is a subtitle for this table</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <!-- Botón "Agregar" -->
                                <button class="btn btn-primary" >Agregar</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div *ngIf="loading; else content">
                            <p>Cargando...</p>
                        </div>
                        <ng-template #content>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                       
                                        
                                    </thead>
                                    <tbody>
                                        <!-- Utilizando *ngFor para iterar sobre los datos de usuarios -->
                                        <tr *ngFor="let usuario of usuarios">
                                            <td>{{ usuario.id }}</td>
                                            <td>{{ usuario. nombreTag }}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </div>
                </div>  <button class="btn btn-primary" >insertar</button>
            </div>
        </div>
    </div>
</div>
